<div class="landing-page__section landing-page__section--border-top">
  <h2 class="govuk-heading-l">Announcements</h2>
  <div class="govuk-grid-row" lang="en">
    <div class="govuk-grid-column-two-thirds landing-page__comms-links">
      <ul class="govuk-pub-document-list">
        <li class="govuk-pub-document-list__item">
          <a class="govuk-pub-document-list__item-title govuk-pub-document-list__item-link" href="https://www.gov.uk/government/news/major-650-million-investment-for-northern-ireland">£650 million investment for Northern Ireland</a>
          <p class="govuk-pub-document-list__item-description">The Chancellor of the Duchy of Lancaster and the Secretary of State for Northern Ireland have announced a £650m package of investment.</p>
          <ul class="govuk-pub-document-list__item-metadata">
            <li class="govuk-pub-document-list__attribute">
              <time datetime="2020-08-07">
                7 August 2020
              </time>
            </li>
            <li class="govuk-pub-document-list__attribute">
              News story
            </li>
          </ul>
        </li>
        <li class="govuk-pub-document-list__item">
          <a class="govuk-pub-document-list__item-title govuk-pub-document-list__item-link" href="https://www.gov.uk/government/news/major-new-campaign-to-prepare-uk-for-end-of-the-transition-period">Major new campaign to prepare UK for end of the transition period</a>
          <p class="govuk-pub-document-list__item-description">The government has launched a new campaign to help businesses and individuals prepare for the end of the transition period.</p>
          <ul class="govuk-pub-document-list__item-metadata">
            <li class="govuk-pub-document-list__attribute">
              <time datetime="2020-07-13">
                13 July 2020
              </time>
            </li>
            <li class="govuk-pub-document-list__attribute">
              Press Release
            </li>
          </ul>
        </li>
        <li class="govuk-pub-document-list__item">
          <a class="govuk-pub-document-list__item-title govuk-pub-document-list__item-link" href="https://www.gov.uk/government/publications/our-approach-to-the-future-relationship-with-the-eu">Our approach to the Future Relationship with the EU</a>
          <p class="govuk-pub-document-list__item-description">The UK’s approach to negotiations with the European Union.</p>
          <ul class="govuk-pub-document-list__item-metadata">
            <li class="govuk-pub-document-list__attribute">
              <time datetime="2020-02-27">
                27 February 2020
              </time>
            </li>
            <li class="govuk-pub-document-list__attribute">
              Policy Paper
            </li>
          </ul>
        </li>
        <li class="govuk-pub-document-list__item">
          <a class="govuk-pub-document-list__item-title govuk-pub-document-list__item-link" href="https://www.gov.uk/government/news/government-accelerates-border-planning-for-the-end-of-the-transition-period">Government speeds up border planning for the end of the transition period</a>
          <p class="govuk-pub-document-list__item-description">Border controls for EU goods imported into Great Britain will be introduced in stages from the end of the transition period.</p>
          <ul class="govuk-pub-document-list__item-metadata">
            <li class="govuk-pub-document-list__attribute">
              <time datetime="2020-06-12">
                12 June 2020
              </time>
            </li>
            <li class="govuk-pub-document-list__attribute">
              News Story
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
