<div class="landing-page__section {{- ' landing-page__section--border-top' if not (hide and 'actions' in hide) }}">
  <h2 class="govuk-heading-l">Announcements</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds landing-page__comms-links" data-module="track-click">
      <ol class="govuk-pub-document-list">
        <li class="govuk-pub-document-list__item">
          <a class="govuk-pub-document-list__item-title govuk-pub-document-list__item-link" href="https://www.gov.uk/government/news/major-new-campaign-to-prepare-uk-for-end-of-the-transition-period">Major new campaign to prepare UK for end of the transition period</a>
          <p class="govuk-pub-document-list__item-description">The government has launched a new campaign to help businesses and individuals prepare for the end of the transition period.</p>
          <ul class="govuk-pub-document-list__item-metadata">
            <li class="govuk-pub-document-list__attribute">
              <time datetime="2020-07-13">
                13 July 2020
              </time>
            </li>
            <li class="govuk-pub-document-list__attribute">
              Press Release
            </li>
          </ul>
        </li>
        <li class="govuk-pub-document-list__item">
          <a class="govuk-pub-document-list__item-title govuk-pub-document-list__item-link" href="https://www.gov.uk/government/publications/our-approach-to-the-future-relationship-with-the-eu">Our approach to the Future Relationship with the EU</a>
          <p class="govuk-pub-document-list__item-description">The UK’s approach to negotiations with the European Union.</p>
          <ul class="govuk-pub-document-list__item-metadata">
            <li class="govuk-pub-document-list__attribute">
              <time datetime="2020-02-27">
                27 February 2020
              </time>
            </li>
            <li class="govuk-pub-document-list__attribute">
              Policy Paper
            </li>
          </ul>
        </li>
        <li class="govuk-pub-document-list__item">
          <a class="govuk-pub-document-list__item-title govuk-pub-document-list__item-link" href="https://www.gov.uk/government/news/government-confirms-plans-to-introduce-import-controls">Government confirms plans to introduce import controls</a>
          <p class="govuk-pub-document-list__item-description">The government has confirmed plans to introduce import controls on EU goods at the border after the transition period ends on 31 December 2020.</p>
          <ul class="govuk-pub-document-list__item-metadata">
            <li class="govuk-pub-document-list__attribute">
              <time datetime="2020-02-10">
                10 February 2020
              </time>
            </li>
            <li class="govuk-pub-document-list__attribute">
              Press Release
            </li>
          </ul>
        </li>
        <li class="govuk-pub-document-list__item">
          <a class="govuk-pub-document-list__item-title govuk-pub-document-list__item-link" href="https://www.gov.uk/government/speeches/the-future-relationship-between-the-uk-and-the-eu">The future relationship between the UK and the EU</a>
          <p class="govuk-pub-document-list__item-description">This statement sets out the Government’s proposed approach to the negotiations with the EU about our future relationship.</p>
          <ul class="govuk-pub-document-list__item-metadata">
            <li class="govuk-pub-document-list__attribute">
              <time datetime="2020-02-03">
                 3 February 2020
              </time>
            </li>
            <li class="govuk-pub-document-list__attribute">
              Written Statement to Parliament
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>
