<div class="govuk-body govuk-grid-column-two-thirds landing-page__finders">
  <p class="govuk-body">Browse all information related to the transition period</p>
  <ol class="govuk-pub-topic-list govuk-!-padding-left-0">
    <li class="govuk-pub-topic-list__item">
      <a aria-label="Services related to the transition period" class="govuk-link govuk-pub-topic-list__link govuk-pub-topic-list__link--no-underline " href="/search/services?parent=%2Ftransition&amp;topic=d6c2de5d-ef90-45d1-82d4-5f2438369eea">Services</a>
    </li>
    <li class="govuk-pub-topic-list__item">
      <a aria-label="Guidance and regulation related to the transition period" class="govuk-link govuk-pub-topic-list__link govuk-pub-topic-list__link--no-underline " href="/search/guidance-and-regulation?parent=%2Ftransition&amp;topic=d6c2de5d-ef90-45d1-82d4-5f2438369eea">Guidance and regulation</a>
    </li>
    <li class="govuk-pub-topic-list__item">
      <a aria-label="News and communications related to the transition period" class="govuk-link govuk-pub-topic-list__link govuk-pub-topic-list__link--no-underline " href="/search/news-and-communications?parent=%2Ftransition&amp;topic=d6c2de5d-ef90-45d1-82d4-5f2438369eea">News and communications</a>
    </li>
    <li class="govuk-pub-topic-list__item">
      <a aria-label="Research and statistics related to the transition period" class="govuk-link govuk-pub-topic-list__link govuk-pub-topic-list__link--no-underline " href="/search/research-and-statistics?parent=%2Ftransition&amp;topic=d6c2de5d-ef90-45d1-82d4-5f2438369eea">Research and statistics</a>
    </li>
    <li class="govuk-pub-topic-list__item">
      <a aria-label="Policy papers and consultations related to the transition period" class="govuk-link govuk-pub-topic-list__link govuk-pub-topic-list__link--no-underline " href="/search/policy-papers-and-consultations?parent=%2Ftransition&amp;topic=d6c2de5d-ef90-45d1-82d4-5f2438369eea">Policy papers and consultations</a>
    </li>
    <li class="govuk-pub-topic-list__item">
      <a aria-label="Transparency and freedom of information releases related to the transition period" class="govuk-link govuk-pub-topic-list__link govuk-pub-topic-list__link--no-underline " href="/search/transparency-and-freedom-of-information-releases?parent=%2Ftransition&amp;topic=d6c2de5d-ef90-45d1-82d4-5f2438369eea">Transparency and freedom of information releases</a>
    </li>
  </ol>
</div>
