<div class="govuk-form-group">

  {% call govukFieldset({
    legend: {
      html: headingHtml | safe,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: false
    }
  }) %}

    {{ govukHint({
      text: question.hint_text
    }) if question.hint_text | length }}

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

      {%- for option in question.options %}
        {% set inputName = "answers[" + question.key + "]" %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{ option.value }}-conditional" name="{{ inputName }}" type="radio" value="{{ option.value }}" data-aria-controls="conditional-{{ option.value }}-conditional" {% if option.value == data.answers[question.key] %}checked="checked"{% endif %}>
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
            {{- option.label -}}
          </label>
        </div>

        {% if option.options %}
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ option.value }}-conditional">

            <div class="govuk-form-group">
              <span id="{{ question.key }}-options-hint" class="govuk-hint">
                Select all that apply.
              </span>

              <div class="govuk-checkboxes">

                {% for option in option.options %}
                  {% set inputName = "answers[" + question.key + "-options]" %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="{{ question.key }}-options" name="{{ inputName }}" type="checkbox" value="{{ option.value }}" aria-describedby="{{ question.key }}-options-hint" {% if data.answers[question.key+'-options'] and option.value in data.answers[question.key+'-options'] %}checked="checked"{% endif %}>
                    <label class="govuk-label govuk-checkboxes__label" for="{{ question.key }}-options">
                      {{- option.label -}}
                    </label>
                  </div>
                {% endfor %}

              </div>

            </div>

          </div>
        {% endif %}

      {% endfor -%}

    </div>


  {% endcall %}

</div>
