{% if data.answers.living | length and question.key == "travelling" %}
  {% set item = data.answers.living | replace('living','visiting') %}
{% endif %}

{{ govukCheckboxes({
  idPrefix: question.key,
  name: "answers[" + question.key + "]",
  fieldset: {
    legend: {
      html: headingHtml | safe,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: false
    }
  },
  hint: {
    text: question.hint_text
  } if question.hint_text,
  errorMessage: errors | getErrorMessage(question.key),
  items: question.options | optionsToItems | removeItem(item) if question.key == "travelling"
}) }}
