<div class="landing-page__section landing-page__section--blue landing-page__section--border-bottom-red">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l">
          UK’s new start: let’s get going
        </h2>
        <div class="govuk-govspeak" data-module="govspeak">
          <p>The UK is leaving the EU single market and customs union, and the end of the transition period will affect citizens, businesses, as well as travel to and from the EU.</p>
          <p>Watch the video to find out what 2021 will mean for you.</p>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="youtube__video-wrapper">
          <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
            <div class="youtube__video-placeholder">
              <div class="youtube__video-logo">VIDEO</div>
              <p class="govuk-body">
                <a href="/help/cookies" class="govuk-link youtube__page-header-link youtube__bold">
                  Change your cookie settings
                </a>
              </p>
              <p class="govuk-body youtube__bold">
                to watch the video
              </p>
              <p class="govuk-body">
                or
              </p>
              <a href="https://www.youtube.com/watch?v=3ZHKjj-9WTk&amp;rel=0" class="govuk-link">
                Watch on YouTube
              </a>
            </div>
          </div>

          {%- set transcriptHtml %}
            <p>On 1 January, the UK will regain its political and economic independence and can start new trading relationships with the EU and rest of the world.</p>
            <p>Citizens and business can check what they need to do, to prepare for the changes and opportunities ahead as a sovereign nation.</p>
            <p>For businesses this includes preparing for a new approach to trade with our partners in the European Union.</p>
            <p>For individuals this may include registering your residency rights.</p>
          {% endset -%}

          {{ govukDetails({
            summaryText: "View the video transcript",
            html: transcriptHtml
          }) }}
        </div>
      </div>
    </div>
  </div>
</div>
