{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk-pub/components/translation-navigation/macro.njk" import govukPubTranslationNavigation %}

<header class="app-c-landing-page__header">
  <div class="govuk-width-container">

    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "#"
        }
      ],
      classes: "app-c-breadcrumbs--collapse-on-mobile app-c-breadcrumbs--inverse"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third app-c-landing-page__translation">

        {{ govukPubTranslationNavigation({
          inverse: true,
          items: [{
            href: '#',
            text: 'English',
            locale: 'en',
            active: true
          }, {
            href: '#',
            text: 'Cymraeg',
            locale: 'cy'
          }]
        }) }}

      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-c-landing-page__page_title">
          The UK has left the EU
        </h1>
      </div>

      <div class="govuk-grid-column-two-thirds app-c-landing-page__intro">
        <p>Find out what this means for you.</p>
      </div>
    </div>
  </div>
</header>
