{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
<div class="brexit-checker__action {{- ' brexit-checker__action--urgent' if params.urgent }} {{- ' ' + params.classes if params.classes }}">
  <div class="brexit-checker__content-wrapper {{- ' brexit-checker__content-wrapper--no-border-bottom' if params.urgent }}">

    {{- govukTag({
      text: "URGENT",
      classes: "brexit-checker__action--urgent-tag"
    }) if params.urgent -}}

    {% if params.heading.href %}
      <h4 class="govuk-heading-s brexit-checker__action_title">
        <a class="govuk-link" href="{{ params.heading.href }}">
          {{- params.heading.html | safe if params.heading.html else params.heading.text -}}
        </a>
      </h4>
    {% else %}
      <h4 class="govuk-heading-s brexit-checker__action_title">
        {{- params.heading.html | safe if params.heading.html else params.heading.text -}}
      </h4>
    {% endif %}
    {%- if params.leadTime %}
      {{ govukInsetText({
        text: params.leadTime.text
      }) if params.leadTime.text | length }}
    {% endif -%}
    {%- if params.consequence %}
      <p class="govuk-body">
        {{- params.consequence.html | safe if params.consequence.html else params.consequence.text -}}
      </p>
    {% endif -%}
    {%- if params.exception %}
      <p class="govuk-body">
        {{- params.exception.html | safe if params.exception.html else params.exception.text -}}
      </p>
    {% endif -%}
    {%- if params.guidance.prompt %}
      <p class="govuk-body govuk-!-margin-bottom-0">
        {{- params.guidance.prompt.html | safe if params.guidance.prompt.html else params.guidance.prompt.text -}}
      </p>
    {% endif -%}
    {%- if (params.guidance.text or params.guidance.html) and params.guidance.href %}
      <p class="govuk-body">
        <a href="{{ params.guidance.href }}" class="govuk-link">
          {{- params.guidance.html | safe if params.guidance.html else params.guidance.text -}}
        </a>
      </p>
    {% endif -%}
  </div>
</div>
