
{% extends "layout-dit.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">The UK is leaving the transition period at the end of this year. The following information is designed to help you understand what steps to take to continue trading with the UK from 1 January 2021 onwards. Make sure you stay up to date and check your country’s own guidance to find out more information.</p>
  </div>
</div>

<div class="landing-page__buckets">
  <div class="landing-page__section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">
          Steps to take to continue trading with the UK from 1 January 2021
        </h2>
        <p class="landing-page__guidance_subheader">
          The following leaflet is designed to help you understand what steps to take to continue trading with the UK at the end of the transition period:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            List item
          </li>
          <li>
            List item
          </li>
          <li>
            List item
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="landing-page__section landing-page__section--border-top">
  <h2 class="govuk-heading-m govuk-grid-column-two-thirds govuk-!-padding-left-0">Register for transition preparedness webinars</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds landing-page__comms-links">
      <p class="govuk-body">These events will bring UK Govt Depts together with local officials, Ports and carriers to inform you and border industry leaders about border requirements, infrastructure and systems.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          List item
        </li>
        <li>
          List item
        </li>
        <li>
          List item
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="landing-page__section landing-page__section--border-top">
  <h2 class="govuk-heading-m govuk-grid-column-two-thirds govuk-!-padding-left-0">Further information on preparing for the end of the transition period</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds landing-page__comms-links">
      <ul class="govuk-list govuk-list--bullet">
        <li>
          List item
        </li>
        <li>
          List item
        </li>
        <li>
          List item
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="landing-page__section landing-page__section--border-top"> -->
  <!-- <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        All transition period information
      </h2>
    </div>
    {% include "./partials/_finders.html" %}
  </div> -->
  <div class="landing-page__share">
    <h3 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-font-size-16">Share this page</h3>
    {% include "./partials/_share-links.html" %}
  </div>
<!-- </div> -->

{% endblock %}
