
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
        The UK has left the EU
      </h1>
      <p class="govuk-body">Find out what this means for you.</p>

      <h2 class="govuk-heading-l">Get ready for 2021</h2>

      <p class="govuk-body">
        The UK has left the EU and is now in a transition period, before new rules come into place from 1 January 2021.
      </p>

      <p class="govuk-body">
        There will be new rules in many areas. For example, if you have a business, travel to Europe or sell your goods abroad. Use this service to answer some questions and get a personalised list of the changes that might affect you.
      </p>

      <p class="govuk-body">
        <a class="gocuk-link" href="#">
          Check what’s changing and sign up for email alerts
        </a>
      </p>

    </div>
  </div>

{% endblock %}
