
{% extends "layout-home.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

{% include "./partials/_actions.html" %}

{% include "./partials/_announcements.html" %}

<div class="landing-page__section landing-page__section--border-top">
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        All transition period information
      </h2>
    </div>
    {% include "./partials/_finders.html" %}
  </div>
  <div class="landing-page__share">
    <h3 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-font-size-16">Share this page</h3>
    {% include "./partials/_share-links.html" %}
  </div>
</div>

{% endblock %}
