{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}

{% from "govuk-pub/components/document-list/macro.njk"      import govukPubDocumentList %}
{% from "govuk-pub/components/share-links/macro.njk"        import govukPubShareLinks %}
{% from "govuk-pub/components/topic-list/macro.njk"         import govukPubTopicList %}
{% from "govuk-pub/components/translation-navigation/macro.njk" import govukPubTranslationNavigation %}

{% block head %}
  <style media="screen">
    .govuk-header {
      border-bottom: 0 !important;
    }
  </style>
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container govuk-header__container--no-border-bottom"
  }) }}
  {% include "./partials/_landing-page-header.html" %}
  {% include "./partials/_take-action.html" %}
  {% include "./partials/_video.html" %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
